$greyDark: #0A0A0A;
$greyLight: #282828;
$greyLighter: #818181;
$greyLightest: #B2B2B2;
$greyWhite: #FDFDFD;
$greyText: #b2b2b2;
$greyTopNav: #090909;
$widgetGreen: #7EA7A6;

* {
  box-sizing: border-box;
}

.App {
  height: calc(100vh - 90px);
  background: $greyDark; // change later
  display: flex;
  font-family: "Gill Sans", sans-serif;
}

.link {
  text-decoration: none;
  color: white;
  &:focus, &:hover, &:visited, &:link, &:active {
    text-decoration: none;
}
}

.navBar {
  width: 225px;
  height: 100%;
  background: black;
  padding: 10px;
  display: flex;
  flex-direction: column;
  .logo {
    padding: 1.2rem 0.7rem;
    svg {
      max-width: 130px;
      path {
        fill: white;

      }
    }
  }
  
  ul {
    margin: 0;
    padding: 0;
    li {
      color: $greyText;
      font-size: 1.0rem;
      list-style-type: none;
      border-radius: 5px;
      padding: 0.7rem;
      cursor: pointer;
      &:hover {
        .changed-color {
          filter: brightness(0) invert(1);
        }
        color: white;
        background: $greyLight !important;
      }
      .changed-color {
        filter: brightness(0) invert(.8);
        height: 15px;
        width: 15px;
      }
    }
    .tablinks .active {
      background-color: $greyLight !important;
    }
  }
  .cookies {
    font-size: 0.6rem;
    color: $greyText;
    padding: 0.6rem;
    text-align: left;
    margin-top: auto;
    span {
      display: block;
    }
  }
}

.outerWrap {
  background: white; //change later
  height: 100vh;
  min-height: 100%;
}

.travelControls{
  background: $widgetGreen;
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
  z-index: 2;
  position: relative;
}

.main {
  width: 100%;
  padding-top: 3rem;
  position: relative;
  overflow-y: scroll;
  .mainContent{
    color: white;
    padding: 0.5rem 2rem;
    h1 {
      font-size: 2rem;
    }
    h2, h3 {
      font-size: 1.5rem;
    }
  }
}

.upperNav {
  background: $greyTopNav;
  height: 55px;
  width: 100%;
  display: flex;
  color: white;
  align-items: center;
  text-align: right;
  padding: 0.5rem 2rem;
  position: absolute;
  z-index: 2;
  top: 0;
  button {
    background: none;
    color: $greyText;
    border:none;
    font-size: 1.2rem;
    margin-right:10px;
    margin-top:auto;
    font-weight: bold;
    
    &:hover {
      color: white;
      transform: scaleX(1.2);
      font-weight: bolder;
    }
  }
}

.cards { 
  padding-bottom: 3rem;
  padding-top: 1rem;
  .horizontalCards {
    display: flex;
  }
  .card {
    background: $greyLight;
    border-radius: 5px;
    margin-right: 1.2rem;
    width: 200px;
    overflow: hidden;
    padding: 1rem;
    &:hover {
      background: $greyLighter;
    }
    .cardImage {
      height: 150px;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 5px;
      }
    }
    .cardContent {
      padding: 0.5rem 0;
      h3{
        font-weight: 700;
        font-size: 1rem;
      }
      h5{
        font-weight: 500;
        font-size: 0.8rem;
        color:$greyText;
      }
    }
  }
}

.tripPage {
  display: flex;
  position: absolute;
  height: 100%;
  width: 100%;
  background: $greyDark;
  .tripPageInfo {
    width: 17vw;
    text-align: center;
    padding-top: 10vh;
    .icons {
      padding: 30px;
      display: inline-flexbox;
      cursor: pointer;
      svg {
        max-width: 40px;
        padding: 5px;
        // padding: 1.2rem 0.7rem;
        path {
          fill: white;
        }
        &:hover {
          transform: scale(1.1);
        }
      }
    }
    button {
      width: 7rem;
      height: 2rem;
      text-align: center;
      border-radius: 20px;
      padding: 0;
      font-size: 16px;
      color: $greyWhite;
      background-color: $widgetGreen;
      border: none;
      transition: transform 0.05s;
      font-weight: bold;
      cursor: pointer;
      &:hover {
        transform: scale(1.05);
      }
    }
    .tripPageImage {
      height: 15vw;
      width: 15vw;
      margin: auto;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        margin: auto;
      }
    }
    h1 {
      font-size: 2rem;
    }
  }
  .tripItinerary {
    ul {
      li {
        font-size: 1.0rem;
        list-style-type: none;
        border-radius: 5px;
        padding: 0.7rem;
        cursor: pointer;
      }
    }
  }
}

.ItineraryForm {
  fieldset {
    border:none;
    margin:none;
    margin-top:auto;
    padding:none;
    padding-top:3rem;
    .button {
      background-color: $greyDark;
      height:2rem;
      width:6rem;
      margin:5px;
      border-style: solid;
      border-width: 2px;
      border-radius: 30px;
      border-color: $greyLight;
      color:$greyWhite;
      text-align: center;
      padding: none;
      cursor:pointer;
      font-weight: bold;
      font-size:0.9rem;
      &:hover {
        transition-delay: 150ms;
        background-color: $widgetGreen;
        border-style: solid;
        border-width: 2px;
        border-radius: 30px;
        border-color: $widgetGreen;
      }
    }
    label {
      width:100%;
      display:block;
      margin-left:5px;
      font-size:1.5rem;
      padding-bottom: 1vh;
    }
    input{
      margin:5px;
      margin-bottom:15px;
      background-color: $greyLight;
      border:none;
      color:$greyWhite;
      border-radius: 5px;
      width:30vw;
      height:3rem;
      font-size:1.25rem;
      padding-left:1vw;
      padding-right:1vw;
      font-family: "Gill Sans", sans-serif;
      &:focus {
        background-color: $greyWhite;
        color:$greyDark;
      }
    }
    textarea{
      margin:5px;
      margin-bottom:10px;
      background-color: $greyLight;
      border:none;
      color:$greyWhite;
      border-radius: 5px;
      width:35vw;
      font-family: "Gill Sans", sans-serif;
      font-size:1.25rem;
      padding-left:1vw;
      padding-right:1vw;
      &:focus {
        background-color: $greyWhite;
        color:$greyDark;
      }
    }
  }
}